<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jiye.prjdb.book.map.BookMapper">
	
	<select id = "bookList" resultType="co.jiye.prjdb.book.service.BookVO">
	SELECT * FROM BOOK	
	</select>
	
	<select id = "bookSelect" resultType="co.jiye.prjdb.book.service.BookVO">
	SELECT * WHERE BOOK_ID = #{bookId}
	</select>
	
	<insert id = "bookInsert" parameterType="co.jiye.prjdb.book.service.BookVO">
	INSERT INTO BOOK(BOOK_ID, BOOK_NAME, BOOK_WRITER, BOOK_COM, BOOK_PRICE)
	VALUES(${bookId},${bookName},${bookWriter},${bookCom},${bookPrice})
	</insert>
	
	<delete id = "bookDelete" parameterType="co.jiye.prjdb.book.service.BookVO">
		DELETE BOOK
		WHERE BOOK_ID = ${bookId}
	</delete>

</mapper>